<div class='jumbotron'>
  <ul>
    <%= concept('order_item/cell', collection: current_order.order_items) %>
  </ul>
  <h4>Total price : <%= current_order.total_price %></h4>
</div>

<%= form_for current_order, url: proceed_order_path(current_order), method: :post do |f| %>
  <legend>Order details</legend>
  <% if current_order.errors.any? %>
    <div class="alert alert-warning error_messages">
      <h4><%= pluralize(current_order.errors.count, "error") %> prohibited this subscription from being saved:</h2>
      <ul>
      <% current_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= label_tag :card_number, "Credit Card Number " %>
    <%= f.text_field :card_number %>
  </div>
  <div class="field">
    <%= label_tag :card_code, "Security Code on Card (CVV)" %>
    <%= f.text_field :card_code %>
  </div>
  <div class="field">
    <%= label_tag :card_month, "Card Expiration" %>
    <%= select_month nil, {add_month_numbers_true: true}, {name: 'order[card_month]', id: "card_month"}%>
    <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: 'order[card_year]', id: "card_year"}%>
  </div>
  <div class="actions">
    <%= f.submit "Complete Order", class: 'btn btn-success' %>
  </div>
<% end %>
